In [1]:
import pandas as pd
import numpy as np
import random 
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
df = pd.read_csv('Groceries_dataset.csv')

In [3]:
df.head(10)

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk
5           4941  14-02-2015        rolls/buns
6           4501  08-05-2015  other vegetables
7           3803  23-12-2015        pot plants
8           2762  20-03-2015        whole milk
9           4119  12-02-2015    tropical fruit

In [4]:
df.shape

(38765, 3)

In [5]:
df.isna().sum()

Member_number      0
Date               0
itemDescription    0
dtype: int64

In [6]:
area_name = ['Mirpur',
             'Mohammadpur','Puran_dhaka','Boshundhora','Uttara', 'Banasree','Tejgaon',
             'Farmgate','Rampura','Badda',
             'Khilkhet','Hazaribagh','Motijheel','Lalbagh','Wari'
            ]

In [7]:


df['unitPrice'] = [f'{random.uniform(3.5, 10.5):.2f}' for i in range(38765)]

In [8]:
df['unitPrice'] =df['unitPrice'].apply(pd.to_numeric)

In [9]:
df['unitPrice'].dtype

dtype('float64')

In [10]:
df.dtypes

Member_number        int64
Date                object
itemDescription     object
unitPrice          float64
dtype: object

In [11]:
df['area'] = [random.choice(area_name) for i in range(38765)]

In [12]:
df['Quantity'] = [random.randint(3,10) for i in range(38765)]

In [13]:
df['TransactionNo'] = [random.randint(1000,5000) for i in range(38765)]

In [14]:
(df['TransactionNo'] == 4597).sum()

6

In [16]:
all_products = []
for i in range(len(df['itemDescription'])):
    all_products.append(df['itemDescription'][i])

In [17]:
all1 =[] 

st = "whole milk"

st = st+" "+all_products[0] + " " +all_products[1]

for i in range(len(all_products)):
    s = all_products[random.randint(0,15)]+ ' '+ all_products[random.randint(0,15)] +' '+ all_products[random.randint(0,15)]
    all1.append(s)
    

all1[20]

'frankfurter whole milk tropical fruit'

In [18]:
len(all_products)

38765

In [19]:
df['itemDescription'] = [all1[i] for i in range(38765)]

In [20]:
df['itemDescription'].isna().sum()

0

In [21]:
df.isna().sum()

Member_number      0
Date               0
itemDescription    0
unitPrice          0
area               0
Quantity           0
TransactionNo      0
dtype: int64

In [22]:
(df['itemDescription'] == 'whole milk tropical fruit').sum()

0

In [23]:
df.head(15)

,Member_number,Date,itemDescription,unitPrice,area,Quantity,TransactionNo
0,1808,21-07-2015,tropical fruit tropical fruit pot plants,4.51,Lalbagh,9,1340
1,2552,05-01-2015,citrus fruit butter butter,9.79,Boshundhora,10,1964
2,2300,19-09-2015,butter butter beef,4.59,Lalbagh,3,2570
3,1187,12-12-2015,other vegetables other vegetables fruit/vegeta...,5.72,Boshundhora,10,3308
4,3037,01-02-2015,tropical fruit pot plants butter,5.48,Khilkhet,7,2922
5,4941,14-02-2015,pot plants chicken beef,3.93,Wari,8,3949
6,4501,08-05-2015,chicken beef pot plants,5.29,Farmgate,10,1782
7,3803,23-12-2015,frankfurter fruit/vegetable juice other vegeta...,6.32,Tejgaon,8,3033
8,2762,20-03-2015,pot plants citrus fruit other vegetables,6.47,Tejgaon,5,2523
9,4119,12-02-2015,citrus fruit tropical fruit pot plants,9.38,Mirpur,10,3997
10,1340,24-02-2015,butter pot plants fruit/vegetable juice,7.61,Rampura,7,4043
11,2193,14-04-2015,pip fruit fruit/vegetable juice rolls/buns,5.48,Mirpur,9,3342
12,1997,21-07-2015,whole milk rolls/buns frankfurter,3.57,Tejgaon,7,1207
13,4546,03-09-2015,other vegetables beef rolls/buns,7.12,Puran_dhaka,3,1797
14,4736,21-07-2015,pip fruit tropical fruit whole milk,10.00,Uttara,6,1947

In [24]:
df['TransactionNo'] = df['TransactionNo'].astype('str')

In [25]:
df['itemDescription'] = df['itemDescription'].str.strip()

In [26]:
basket_Mirpur = (df[df['area'] =="Mirpur"]
          .groupby(['TransactionNo', 'itemDescription'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('TransactionNo'))

basket_Mohammadpur = (df[df['area'] =="Mohammadpur"]
          .groupby(['TransactionNo', 'itemDescription'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('TransactionNo'))

basket_Hazaribagh = (df[df['area'] =="Hazaribagh"]
          .groupby(['TransactionNo', 'itemDescription'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('TransactionNo'))

basket_Uttara = (df[df['area'] =="Uttara"]
          .groupby(['TransactionNo', 'itemDescription'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('TransactionNo'))

In [27]:
basket_Mirpur

itemDescription,beef beef citrus fruit,beef beef frankfurter,beef beef other vegetables,beef beef pot plants,beef beef rolls/buns,beef beef tropical fruit,beef butter chicken,beef butter other vegetables,beef butter pip fruit,beef butter rolls/buns,...,whole milk whole milk chicken,whole milk whole milk citrus fruit,whole milk whole milk frankfurter,whole milk whole milk fruit/vegetable juice,whole milk whole milk other vegetables,whole milk whole milk pip fruit,whole milk whole milk pot plants,whole milk whole milk rolls/buns,whole milk whole milk tropical fruit,whole milk whole milk whole milk
TransactionNo,,,,,,,,,,,,,,,,,,,,,
1000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
# hot encode
def hot_encode(x):
    if(x<= 0):
        return 0
    if(x>= 1):
        return 1

In [29]:
basket_encoded = basket_Mirpur.applymap(hot_encode)
basket_Mirpur = basket_encoded

In [32]:
# basket_encoded = basket_Mohammadpur.applymap(hot_encode)
# basket_Mohammadpur = basket_encoded

In [57]:

# basket_encoded = basket_Hazaribagh.applymap(hot_encode)
# basket_Hazaribagh = basket_encoded

In [30]:
# basket_Farmgate.head()
basket_Mirpur
# basket_Mohammadpur
# basket_Hazaribagh

itemDescription,beef beef citrus fruit,beef beef frankfurter,beef beef other vegetables,beef beef pot plants,beef beef rolls/buns,beef beef tropical fruit,beef butter chicken,beef butter other vegetables,beef butter pip fruit,beef butter rolls/buns,...,whole milk whole milk chicken,whole milk whole milk citrus fruit,whole milk whole milk frankfurter,whole milk whole milk fruit/vegetable juice,whole milk whole milk other vegetables,whole milk whole milk pip fruit,whole milk whole milk pot plants,whole milk whole milk rolls/buns,whole milk whole milk tropical fruit,whole milk whole milk whole milk
TransactionNo,,,,,,,,,,,,,,,,,,,,,
1000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1005,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1006,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4990,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4993,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
frq_items = apriori(basket_Mirpur, min_support = 0.001, use_colnames = True)
 

rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])

rules.head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(chicken other vegetables fruit/vegetable juice),(other vegetables frankfurter whole milk),0.001550,0.004132,0.001033,0.666667,161.333333,0.001027,2.987603
0,(other vegetables frankfurter whole milk),(chicken other vegetables fruit/vegetable juice),0.004132,0.001550,0.001033,0.250000,161.333333,0.001027,1.331267